include MANIFEST.in
include README.md
include setup.cfg
include setup.py
include LICENSE
recursive-include  lap *.pyx *.pxd *.pxi *.py *.c *.cpp *.h *.md
include lap/tests/*.gz
global-exclude *~
global-exclude *.pyc
