include MANIFEST.in
include README.md
include setup.cfg
include setup.py
include LICENSE
recursive-include src/lap *.pyx *.pxd *.pxi *.py *.c *.cpp *.h *.md
include tests/*
global-exclude *~
global-exclude *.pyc
